/*
Theme Name : La Face B
Author : helene
Author URI : http://lafaceb.fr
Description : La Face B theme
*/
/* Custom KNACSS additions
/* --- */
.small-w80 {
  width: 80%;
}
/* Responsive margins --- custom */
@media (max-width: 768px) {
  .small-mtn {
    margin-top: 0;
  }
  .small-mts {
    margin-top: 2rem;
  }
  .small-mbs {
    margin-bottom: 2rem;
  }
  .small-mln {
    margin-left: 0;
  }
}
/* --- */
/* Responsive paddings --- custom */
@media (max-width: 768px) {
  .small-pas {
    padding: 2rem;
  }
  .small-pbn {
    padding: 0;
  }
}
/* Responsive flex-container --- custom */
@media (max-width: 768px) {
 .flex-container-small-v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
 }
}
.flex-container-centered {
  align-items: center;
  justify-content: center;
}
/* --- */
/* ----------------------------- */
/* ==own stylesheet              */
/* ----------------------------- */
/* Here should go your own CSS styles */
/* You can also link them with a LESS @import */
/* @import "my-styles.less"; */
/* ----------------------------- */
/* ==custom fonts                */
/* ----------------------------- */

@font-face {
  font-family: FuturaStdLight;
  src: url("fonts/futuraStd/FuturaStd-Light.otf");
}

@font-face {
  font-family: IkarosSansRegular;
  src: url("fonts/ikaros_sans/Ikaros-Regular.otf");
}

@font-face {
  font-family: IkarosSansLight;
  src: url("fonts/ikaros_sans/Ikaros-Light.otf");
}


/* For responsive menu icon */
@font-face {
  font-family: MenuIcon;
  src: url("fonts/icomoon.ttf");
}

/* ----------------------------- */
/* ==templating                  */
/* ----------------------------- */

#main_wrapper {
  font-family: FuturaStdLight, Arial, sans-serif;
}

h2 {
  font-family: IkarosSansRegular;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

a {
  color: #007F98;
}

article p {
  font-size: larger;
}

.img-shadow {
  box-shadow: 3px 3px 5px #AAAAAA;
}

.button {
  background-color: #007F98;
  color: #FFFFFF;
  display: inline-block;
  font-family: IkarosSansRegular;
  font-size: 3rem;
  letter-spacing: .5rem;
  line-height: 50px;
  min-height: 48px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
}
.button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .button {
    font-size: 2rem;
  }
}

.logo-button {
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  font-family: MenuIcon;
  padding: 12px;
  text-decoration: none;
}

.hide-for-mobile {
  display: block;
}
.show-for-mobile {
  display: none;
}
@media (max-width: 544px) {
  .hide-for-mobile {
    display: none;
  }
  .show-for-mobile {
    display: block;
  }
}

.text-small {
  font-size: 1.6rem;
}

.box {
 border: 1px solid #AAAAAA;
 padding: 1rem;
}

/* ----------------------------- */
/* ==menu                        */
/* ----------------------------- */

.menu-container {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-container .menu {
  font-family: IkarosSansRegular;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

.menu-container .menu li {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2rem;
  text-overflow: ellipsis;
}

.menu-container .menu li:not(:last-child)::after {
  color: #FFFFFF;
  content: '\2022';
  font-size: 2rem;
  padding-left: 2rem;
}

.menu-container .menu li:last-child {
  padding-right: 2rem;
}

.menu-container .menu li:hover a {
  border-bottom: 2px solid #FFFFFF;
}

.menu-container .menu a {
  color: #FFFFFF;
  cursor: pointer;
  font-size: larger;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-container .logo-container img {
  height: 10rem;
}

@media (max-width: 544px) {
  .menu-container::before {
    content: "\e9bd";
    color: #FFFFFF;
    cursor: pointer;
    font-family: MenuIcon;
    font-size: 3rem;
    padding-left: 1rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Responsive menu */
  .menu-container .menu li {
    display: none;
  }
  .menu-container .menu li::after {
    content: '' !important;
  }
  .menu-container.expand {
    background-color: #23282D;
  }
  .menu-container.expand .menu li {
    background-color: #23282D;
    display: block;
    min-height: 48px;
    line-height: 48px;
  }

  .menu-container .logo-container {
    display: none;
  }
}

/* ----------------------------- */
/* ==footer                      */
/* ----------------------------- */

footer {
  background-color: #007F98;
}

footer,
footer a,
#contact a,
footer a:hover,
#contact a:hover,
footer a:visited,
#contact a:visited {
  color: #FFFFFF;
}

footer a,
#contact a {
  text-decoration: none;
}

footer a:hover,
#contact a:hover {
  text-decoration: underline;
}

/* ----------------------------- */
/* ==header slideshow           */
/* ----------------------------- */

header {
  background-image: url('./images/logo_text.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 450px;
  height: 100vh;
  position: relative;
}

.header-small {
  height: 50vh;
}

@media (max-width: 544px) {
  header {
    background-size: 80%;
  }
}

.header-slideshow,
.header-slideshow::after {
  height: 100%;
  left: 0;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header-slideshow {
  width: 100%;
}

.header-slideshow::after {
  background-color: #007F98;
  content: '';
  opacity: 0.4;
}

/* ----------------------------- */
/* ==content                     */
/* ----------------------------- */

.banner {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(20, 20, 20, .45), rgba(20, 20, 20, .45));
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  min-height: 40rem;
  position: relative;
}
@media (max-width: 768px) {
  .banner {
    min-height: 20rem;
  }
}

.reservation-heading {
  background-color: #007F98;
  bottom: 4rem;
  color: #FFFFFF;
  line-height: 8rem;
  margin: auto;
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  .reservation-heading {
    bottom: 4rem;
    line-height: 4rem;
  }
}

.heading-1 {
  font-family: IkarosSansRegular;
  font-size: 5rem;
  letter-spacing: 1rem;
}
.heading-2 {
  font-family: IkarosSansRegular;
  font-size: 3rem;
  letter-spacing: .5rem;
}
.heading-3 {
  font-family: IkarosSansRegular;
  font-size: 2rem;
  letter-spacing: .4rem;
}
@media (max-width: 768px) {
  .heading-1 {
    font-size: 3rem;
  }
  .heading-2 {
    font-size: 2rem;
  }
  .heading-3 {
    font-size: 1rem;
  }
}

.logo-tier {
  margin-left: 2rem;
  vertical-align: bottom;
  width: 50px;
}

.evenement {
  background-color: #FFFFFF;
}

.evenement > div:last-child {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 5rem;
}

#evenements {
  background-color: #007F98;
}

#evenements h2 {
  color: #FFFFFF;
}

#scroll-top {
  position: relative;
  z-index: 100; /* Above all */
}

#scroll-top .button {
  bottom: 10px;
  border-radius: 50%;
  display: none;
  font-family: MenuIcon;
  padding: 0 0 0 5px;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 50px;
}
